body {
  margin: 0 auto;
  line-height: 1.7em;
  font-family: 'Rokkitt', serif;
}

.l-box {
  padding: 1em;
}

.header {
  margin: 0 0;
}

.header .pure-menu {
  padding: 0.5em;
}

.header .pure-menu li a:hover {
  background: none;
  border: none;
  color: #aaa;
}

body .primary-button {
  background: #02a6eb;
  color: #fff;
}

.splash {
  margin: 2em auto 0;
  padding: 3em 0.5em;
  background: #eee;
}
.splash .splash-head {
  font-size: 300%;
  margin: 0em 0;
  line-height: 1.2em;
}
.splash .splash-subhead {
  color: #999;
  font-weight: 300;
  line-height: 1.4em;
}
.splash .primary-button {
  font-size: 150%;
}

.content .content-subhead {
  color: #999;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #eee;
  display: inline-block;
}

.content .content-ribbon {
  margin: 3em;
  border-bottom: 1px solid #eee;
}

.ribbon {
  background: #eee;
  text-align: center;
  padding: 2em;
  color: #999;
}
.ribbon h2 {
  display: inline;
  font-weight: normal;
}

.footer {
  background: #111;
  color: #666;
  text-align: center;
  padding: 1em;
  font-size: 80%;
}

a {
  color: #3b8bba;
  text-decoration:none;
}

a:visited {
  color: #265778;
}

.job {
}

.job h3 {
  color: #265778;
}

.time {
  color: #AAA;
}

.job .tag {
  font-size: 12px;
  padding: 2px 5px;
  color: #FFF;
  background-color: #3b8bba;
  border: 1px solid;
}


code {
  font-size: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 1px 4px;
}

.header .pure-menu li a:hover {
  border-bottom: 1px solid #FFF;
}

.pure-menu-non-selected {
  border-bottom: 3px solid #FFF;
}

.pure-menu-selected {
  border-bottom: 3px solid #3b8bba;
}

.projects {
  max-width: 980px;
  margin: 0 auto;
}

.project {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  height: 490px;
  margin-bottom: 60px;
}

.project div.title {
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #3b8bba;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.project div.title h3 {
  margin: 0;
}

.project div.title a {
  color: white;
}

.project div.title span.stargazers {
  font-size: 11px;
  float: right;
  margin-right: 10px;
  font-weight: 100;
}

.project div.title span.stargazers > i {
  line-height: inherit;
}

.project div.preview {
  height: 200px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
}

.project div.preview > a img {
  height: 100%;
  max-width: none;
}


.project div.desc {
  padding: 10px;
  height: 180px;
}

.project div.link {
  text-align: center;
}

.project div.link button {
  background-color: white;
  border: 1px solid #3b8bba;
  border-radius: 15px;
  color: #3b8bba;
  padding: 2px 10px 0px 10px;
}

.project div.link button:hover {
  background-color: #3b8bba;
  color: white;
}
