*, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Code Pro';
  font-weight: 100!important;
}

.section {
  width: 100%;
  margin-bottom: 80px;
}

.line {
  border-top: 1px solid;
  margin-top: 30px;
}

.blue, .blue * {
  color: hsla(215, 65%, 54%, 1)!important;
}

.sub-nav dd.experience.active a {
  background-color: hsla(215, 65%, 54%, 1);
}

.bd-grey {
  border: 1px dashed lightgrey;
}

.bg-grey {
  background-color: hsla(0, 0%, 98%, 1);
}

.green * {
  color: hsla(152, 74%, 35%, 1);
}

.bg-green {
  background-color: hsla(152, 74%, 35%, 1);
}

.sub-nav dd.projects.active a {
  background-color: hsla(152, 74%, 35%, 1);
}


.fun-fact {
  margin-top: 20px;
}

.fun-fact > * {
  vertical-align: middle;
}

.fun-fact .number {
  font-size: 40px;
  padding-left: 10px;
}

.fun-fact .legend {
  line-height: 17px;
}

/* Experiences */
.section.experiences .experience {
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.section.experiences .experience .title .text {
  font-size: 1.5em;
}

.section.experiences .experience .time {
  padding-top: 10px;
  color: lightgrey;
}

.section.experiences .experience:hover .time {
  color: initial;
}

.section.experiences .label {
  margin-right: 5px;
}

.section.experiences .experience .tag {
  margin-top: 5px;
  opacity: 0;
  font-family: monospace;

  -webkit-transition: opacity linear 0.3s;
  -moz-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
}

.section.experiences .experience:hover .tag {
  opacity: 1;
}

.section.experiences .experience .time * {
  display: inline-block;
}

.section.experiences .experience .time .from:after {
  content: " -> ";
}

/* - */


/* Pet projects */
.project {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 320px;
}

.project div.title {
  text-transform: uppercase;
  padding-left: 10px;
  border: 1px solid transparent ;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.project div.title span.stargazers {
  float: right;
  margin-right: 10px;
}

.project div.title span.stargazers > i {
  line-height: inherit;
}

.project div.preview {
  height: 200px;
  width: 100%;
  background-color: white;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
}

.project div.preview > a img {
  height: 100%;
  max-width: none;
}

.project div.desc {
  padding: 10px;
  height: 215px;
}

.project div.desc p {
  font-size: 11px;
}

.project div.links {
  text-align: center;
  position: relative;
}

.project div.link {
  text-align: center;
  display: inline;
}

.project div.link  div.link-title {
  visibility: hidden;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.project div.link:hover  div.link-title {
  visibility: visible;
}

.project div.link button {
  background-color: white;
  border: 1px solid hsla(152, 74%, 35%, 1);
  border-radius: 15px;
  color: hsla(152, 74%, 35%, 1);
  padding: 2px 10px 1px 10px;
  text-transform: lowercase;
  font-size: 12px;
  line-height: 1em;
}

.project div.link button:hover {
  background-color: hsla(152, 74%, 35%, 1);
  color: white;
}
/* - */

.splash {
  margin-top: 130px;
  margin-bottom: 50px;
}

.splash .more {
  margin-top: 100px;
  margin-bottom: 50px;
}
