<div class="splash pure-u-1">
  <div class="pure-g-r">
    <div class="pure-u-2-3">
      <div class="l-box splash-text">
        <h1 class="splash-head">
          Education and work experience
        </h1>

        <h2 class="splash-subhead">
          I'm a self-taught front-end developer with a strong, cross-domain technical background.
        </h2>
      </div>
    </div>
    <div ng-repeat='exp in experiences' class="l-box pure-u-1">
      <div class="pure-u-2-5 job">
        <h3>{{exp.what}} <span class="time">{{exp.when}}</span></h3>
        <p>{{exp.how}}</p>
        <p>  
          <span ng-repeat='tag in exp.tags' class='tag'>{{tag}}</span>
        </p>
      </div>
    </div>
  </div>
</div>