<html lang="en" ng-app="resume">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>lorem--ipsum</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/foundation.css" />

  <link rel="stylesheet" href="css/main.css">

  <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("b39c8a4d88f160e6662e502f11607edc");</script><!-- end Mixpanel -->

</head>

<body ng-controller="MainCtrl">

  <div class="navbar" data-magellan-expedition="fixed">
    <dl class="sub-nav">
      <dd data-magellan-arrival="home"><a href="#home">Home</a></dd>
      <dd class="experience" data-magellan-arrival="experience"><a href="#experience">Experience</a></dd>
      <dd class="projects" data-magellan-arrival="projects"><a href="#projects">Pet Projects</a></dd>
      <dd><a href="http://en.wikipedia.org/wiki/Banana">Scale <i class="fa fa-external-link"></i></a></dd>
      <dd><a href="http://codepen.io/lorem--ipsum/public/">CodePen <i class="fa fa-external-link"></i></a></dd>
    </dl>
  </div>

  <a name="home" data-magellan-destination="home"></a>
  <div class="row splash">
    <div class="large-12 columns">
      <h1 class="text-center">Welcome, I'm Sébastien</h1>
      <h4 class="subheader text-justify">
        I'm a front-end engineer specialized in user interfaces, the guy you wanna work with to make your beautiful mockups come to life. I'm easy-going, versatile and I care about what I deliver. I enjoy working in fast-paced and technical environments.
      </h4>
    </div>
    <div class="small-12 large-6 columns">
      <div class="fun-fact shadowed bg-grey">
        <span class="number blue">7</span>
        <span class="legend">years spent making things work</span>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="fun-fact shadowed bg-grey">
        <span class="number blue">6</span>
        <span class="legend">funky projects on GitHub</span>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="fun-fact shadowed bg-grey">
        <span class="number blue">1.5</span>
        <span class="legend">years spent working remotely</span>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="fun-fact shadowed bg-grey">
        <span class="number blue">2</span>
        <span class="legend">spoken & written languages</span>
      </div>
    </div>
    <div class="large-12 columns more">
      <h4 class="subheader text-center">Wanna know more ? <a href="mailto:vaporzub@gmail.com">Shoot me an email !</a></h4>
    </div>
  </div>

  <a name="experience"></a>
  <div data-magellan-destination="experience" class="section experiences">

    <div class="row blue">
      <div class="large-7 columns line show-for-large-only"></div>
      <div class="large-4 columns text-center"><h2>Experience</h2></div>
      <div class="large-1 columns line show-for-large-only"></div>
    </div>

    <div class="row experience shadowed bg-grey" ng-repeat='exp in experiences'>
      <div class="time text-right large-3 columns show-for-large-up">
        <div class="from">{{exp.from}}</div>
        <div class="to">{{exp.to}}</div>
      </div>
      <div class="body large-9 columns">
        <div class="time hide-for-large-up">
          <div class="from">{{exp.from}}</div>
          <div class="to">{{exp.to}}</div>
        </div>
        <h3 class="text blue">{{exp.what}}</h3>
        <p class="text-justify">{{exp.how}}</p>
        <span class="tag blue secondary label" ng-repeat='tag in exp.tags'>{{tag}}</span>
      </div>
    </div>
  </div>

  <a name="projects"></a>
  <div class="section pets" data-magellan-destination="projects">

    <div class="row green">
      <div class="large-7 columns line show-for-large-only"></div>
      <div class="large-4 columns text-center"><h2>Pet projects</h2></div>
      <div class="large-1 columns line show-for-large-only"></div>
    </div>

    <div class="row">

      <div ng-repeat='project in projects' class="small-12 medium-6 large-4 columns">
        <div class="project shadowed bg-grey">
          <div class="title green">
            {{project.who}} <a target="_blank" ng-href="{{project.stargazers.link}}"><span ng-show="project.stargazers" class="stargazers"><i class="fa fa-star"></i> {{project.stargazers.count}}</span></a>
          </div>
          <div class="preview">
            <a target="_blank" ng-href="{{project.demo}}">
              <img ng-src="{{project.image}}">
            </a>
          </div>
          <div class="desc">
            <p ng-repeat="w in project.what">{{w}}</p>
          </div>
          <div class="links">
            <div class="link">
              <div class="link-title">source</div>
              <a target="_blank" ng-href="{{project.github}}">
                <button class="pure-button pure-button-primary"><i class="fa fa-github"></i></button>
              </a>
            </div>
            <div class="link">
              <div class="link-title">demo</div>
              <a target="_blank" ng-href="{{project.demo}}">
                <button class="pure-button pure-button-primary"><i class="fa fa-flask"></i></button>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>

  <div class="footer text-center">
    <small>Crafted with <a href="http://angularjs.org/">AngularJS</a>, <a href="http://foundation.zurb.com/">Foundation</a> and <i class="fa fa-heart-o"></i></small>
  </div>

  <script src="js/vendor/modernizr.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-resource.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
